.bookshelf {
  height: 350px;
}
.bookshelf .bookDetail {
  margin-left: 0px;
}

.bookshelf .bookCover {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}
.bookshelf h3 {
  text-align: center;
  margin-right: 50px;
}
.slick-prev {
  margin-left: 40px;
}
.slick-next {
  margin-right: 40px;
}
.blurring.dimmable.image {
  width: 300px;
  border-radius: 15px;
}
#footer {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  height:500px;
  width: 100%;
}
.ui.link.list .item,
.ui.link.list .item a:not(.ui),
.ui.link.list a.item {
  color: #FFFFFF;
}
.lastdiv {
  margin-bottom: 100px;
}
.ui.secondary.menu .active.item {
  background:#fff;
}

